@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  max-width: 95vw;
  width: 1280px;
  margin: 0 auto;
  margin-top: 5rem;
}
.faded {
  opacity: 0.5;
}
.active {
  opacity: 1;
}
.TWO_COL {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  gap: 5rem;
}
.two_row {
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  row-gap: 0rem;
}
